        <table  class="table table-striped table-condensed recording"
                data-ng-init="sortPredicate='entityId'; sortReverse=false">
            <thead>
            <tr>
                <th></th>
                <th data-sortable-col="entityId"
                    predicate="sortPredicate"
                    reverse="sortReverse"
                    text="Entity">
                </th>
                <th data-sortable-col="entityMarking"
                    predicate="sortPredicate"
                    reverse="sortReverse"
                    text="Marking">
                </th>
                <th data-sortable-col="heading"
                    predicate="sortPredicate"
                    reverse="sortReverse"
                    text="Heading">
                </th>
                <th data-sortable-col="speed"
                    predicate="sortPredicate"
                    reverse="sortReverse"
                    text="Speed">
                </th>
                <th data-sortable-col="alt"
                    predicate="sortPredicate"
                    reverse="sortReverse"
                    text="Alt">
                </th>
                <th data-sortable-col="lat"
                    predicate="sortPredicate"
                    reverse="sortReverse"
                    text="Lat">
                </th>
                <th data-sortable-col="lon"
                    predicate="sortPredicate"
                    reverse="sortReverse"
                    text="Lon">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="discribe.positions.length==0" class="no-items"><td colspan="7" style="text-align:center"><span>No Entities found</span></td></tr>
            <tr class="clickable"
                data-ng-repeat="item in discribe.positions | filter:searchText | orderBy:sortPredicate:sortReverse"
                ng-dblclick="addSearch(item.entityId)"
                ng-show="discribe.positions.length>0">
                <td><img ng-src="app/images/{{item.sideIcon}}" class="report-img" alt="{{item.sideIcon}}"/></td>
                <td>{{item.entityId}}</td>
                <td>{{item.marking}}</td>
                <td>{{item.heading | formatHeading}}</td>
                <td>{{item.speed | formatDecimal:0}}</td>
                <td>{{item.alt | formatDecimal:0}}</td>
                <td>{{item.lat | formatLat}}</td>
                <td>{{item.lon | formatLon}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

