<div>
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="onClose(false)">&times;</button>
    <h3>{{data.title}}</h3>
  </div>
  
  <div class="modal-body">
    <p>{{data.message}}</p>
    <br/>
    <ul data-ng-repeat="item in data.items | orderBy:sortKey">
      <li>{{item[sortKey]}}</li>
    </ul>
    <br/>
    <p>{{data.postmessage}}</p>
  </div>
  
  <div class="modal-footer">
    <button class="btn" data-ng-show="!!data.no" data-dismiss="modal" data-ng-click="onClose(false)">{{data.no}}</button>
    <button class="btn btn-warning" data-ng-click="onClose(true)">
      {{data.yes}}
    </button>
  </div>
</div>
