<div>
    <span class="h4">Force Levels per {{forceStats.units}}</span>&nbsp;
    <span tooltip title="Double-click to zoom to next day, hour or minute. Swipe to select a zoom range. Revert to zoom out">
        <i class="hint fa fa-info-circle fa-lg"></i>
    </span>
</div>
<div class="force-legend">
    <strong>Legend:</strong>&nbsp;
    <span>Unknown</span>&nbsp;<span class="legend unknown"></span>&nbsp;
    <span>Friendly</span>&nbsp;<span class="legend friendly"></span>&nbsp;
    <span>Opposing</span>&nbsp;<span class="legend opposing"></span>&nbsp;
    <span>Neutral</span>&nbsp;<span class="legend neutral"></span>
</div>
