<div>
    <span class="h4">Radio Communication PDU's per {{pduStats.units}}</span>
    <span tooltip title="Double-click to zoom to next day, hour or minute. Swipe to select a zoom range. Revert to zoom out">
        <i class="hint fa fa-info-circle fa-lg"></i>
    </span>
</div>
<div class="force-legend">
    <strong>Legend:</strong>&nbsp;
    <span>Transmitter</span>&nbsp;<span class="legend transmitter"></span>&nbsp;
    <span>Signal</span>&nbsp;<span class="legend signal"></span>&nbsp;
    <span>Receiver</span>&nbsp;<span class="legend receiver"></span>
</div>
