<div class="discribe-container">
    <div title-bar time-span="current.timeSpan"></div>
    <div radio-pdu-counts
         pdu-stats="discribe.pduStats"
         time-span="current.timeSpan">
    </div>

    <tabset class="comms">
        <tab heading="By EntityID" select="showByEntityId()">
            <div ng-include src="'app/components/comms/views/byEntityId.html'"></div>
        </tab>
        <tab heading="By Frequency" select="showByFrequency()">
            <div ng-include src="'app/components/comms/views/byRadioId.html'"></div>
        </tab>
        <tab data-ng-repeat="view in pduSearch.views" select="viewEntityIdPdus(view)">
            <tab-heading>
                <span>{{view.name}}</span> <i class="glyphicon glyphicon-remove" ng-click="removeSearch($event, $index)"></i> <!-- the tab close button -->
            </tab-heading>
            <div pdu-view view="view"></div>
        </tab>
    </tabset>
</div>
