<div class="discribe-container">
    <div title-bar time-span="current.timeSpan"></div>
    <div force-levels
         force-stats="discribe.forceLevels"
         time-span="current.timeSpan">
    </div>
    <tabset class="entities">
        <tab heading="Summary" select="showSummary()">
            <div ng-include src="'app/components/entities/views/summary.html'"></div>
        </tab>
        <tab heading="Map" select="showMap()">
            <div ng-include src="'app/components/entities/views/map.html'"></div>
        </tab>
        <tab heading="Positions" select="showPositions()">
            <div ng-include src="'app/components/entities/views/positions.html'"></div>
        </tab>
        <tab data-ng-repeat="tab in tabs"  select="showEntityIdPdus(tab)">
            <tab-heading>
                <span>{{tab.name}}</span> <i class="glyphicon glyphicon-remove" ng-click="removeTab($event, $index)"></i> <!-- the tab close button -->
            </tab-heading>
        </tab>
    </tabset>
    <div ng-show="discribe.showPdus" ng-include src="'app/components/common/views/pduView.html'"></div>
</div>


