<div class="discribe-container">
    <div title-bar time-span="current.timeSpan"></div>
    <div force-levels
         force-stats="discribe.forceLevels"
         time-span="current.timeSpan">
    </div>
    <tabset class="entities">
        <tab heading="Summary" select="showSummary()">
            <div ng-include src="'app/components/entities/views/summary.html'"></div>
        </tab>
        <tab heading="Map" select="showMap()">
            <div ng-include src="'app/components/entities/views/map.html'"></div>
        </tab>
        <tab heading="Positions" select="showPositions()">
            <div ng-include src="'app/components/entities/views/positions.html'"></div>
        </tab>
        <tab data-ng-repeat="view in pduSearch.views">
            <tab-heading>
                <span>{{view.name}}</span> <i class="glyphicon glyphicon-remove" ng-click="removeSearch($event, $index)"></i> <!-- the tab close button -->
            </tab-heading>
            <div pdu-view view="view"></div>
        </tab>
    </tabset>
</div>


