<div class="discribe-container">
    <h3>Entities</h3>
    <div force-levels
         force-stats="discribe.forceLevels"
         time-span="current.timeSpan">
    </div>
    <table class="table table-striped table-condensed entitySummary"
           data-ng-init="sortPredicate='startTimestamp'; sortReverse=false;">
        <thead>
        <tr>
            <th></th>
            <th data-sortable-col="entityId"
                predicate="sortPredicate"
                reverse="sortReverse"
                text="Entity">
            </th>
            <th data-sortable-col="marking"
                predicate="sortPredicate"
                reverse="sortReverse"
                text="Marking">
            </th>
            <th data-sortable-col="entityType"
                predicate="sortPredicate"
                reverse="sortReverse"
                text="Type">
            </th>
            <th data-sortable-col="forceId"
                predicate="sortPredicate"
                reverse="sortReverse"
                text="Force">
            </th>
            <th data-sortable-col="firstTimestamp"
                predicate="sortPredicate"
                reverse="sortReverse"
                text="Start">
            </th>
            <th data-sortable-col="lastTimestamp"
                predicate="sortPredicate"
                reverse="sortReverse"
                text="End">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="discribe.entitySummary.length==0" class="no-items"><td colspan="4" style="text-align:center"><span>No Entities found</span></td></tr>
        <tr class="clickable"
            data-ng-repeat="entity in discribe.entitySummary | orderBy:sortPredicate:sortReverse"
            ng-click=""
            ng-show="discribe.entitySummary.length>0">
            <td><img ng-src="images/{{entity.sideIcon}}" class="report-img" alt="{{entity.sideIcon}}"/></td>
            <td>{{entity.entityId | formatEntityId}}</td>
            <td>{{entity.marking | formatEntityMarking}}</td>
            <td>{{entity.entityType | formatEntityType}}</td>
            <td>{{entity.forceId}}</td>
            <td>{{entity.startTime | formatDateTime}}</td>
            <td>{{entity.endTime | formatDateTime}}</td>
        </tr>
        </tbody>
    </table>
</div>


