<div class="discribe-container">
    <div title-bar time-span="current.timeSpan"></div>
    <div pdu-counts
         pdu-stats="discribe.pduStats"
         time-span="current.timeSpan">
    </div>
    <tabset class="comms">
        <tab data-ng-repeat="view in pduSearch.views">
            <tab-heading>
                <span>{{view.name}}</span> <i class="glyphicon glyphicon-remove" ng-show="view.name!='All PDUs'" ng-click="removeSearch($event, $index)"></i> <!-- the tab close button -->
            </tab-heading>
            <div pdu-view view="view"></div>
        </tab>
    </tabset>
    <div ng-show="discribe.showPdus" ng-include src="'app/components/common/views/pduView.html'"></div>
</div>
